*node_modules*
.specstory
.specstory/*
deprecated-claude-app/frontend/node_modules/**
deprecated-claude-app/shared/dist/**
.idea/**
deprecated-claude-app/backend/config/config.json
.DS_Store
.github/.DS_Store